<!-- Footer
		============================================= -->
        <footer id="footer" class="border-0" style="background-color: #C9D6CF;">

            <div class="container">
                <div class="footer-widgets-wrap m-0">
        
                    <div class="row justify-content-between">
        
                        <div class="col-md-4">
                            <div class="widget">
        
                                <h3 class="h1 mb-5">Got a Project?<br>Let's Talk!</h3>
                                <span class="text-black-50">Ready to elevate your web presence or application? Leveraging the power of .NET, I can help transform your vision into a scalable and efficient solution. Let's collaborate and make your project come to life.</span>
                                <a href="mailto:pratikghag1089@gmail.com"
                                    class="h4 text-dark mt-5 mb-4 d-block"><u>pratikghag1089@gmail.com</u> <i
                                        class="icon-line-arrow-right position-relative ms-2" style="top: 3px"></i></a>
                                <div>
                                    <!-- <a href="http://facebook.com/your-profile"
                                        class="social-icon si-small si-colored si-facebook" target="_blank">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a> -->
                                    <!-- <a href="http://instagram.com/your-profile"
                                        class="social-icon si-small si-colored si-instagram" target="_blank">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a> -->
                                    <a href="https://www.linkedin.com/in/pratik-ghag/" target="_blank" class="social-icon si-small si-colored si-linkedin"
                                        target="_blank">
                                        <i class="icon-linkedin"></i>
                                        <i class="icon-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/pratikghag1089" target="_blank" class="social-icon si-small si-colored si-github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
        
                            </div>
                        </div>
        
                        <!-- <div class="col-md-5">
                            <h3 class="h1 mb-5">Estimate your Project?</h3>
                            <div class="form-widget" data-loader="button" data-alert-type="inline">
        
                                <div class="form-result"></div>
        
                                <form class="row mb-0" id="landing-enquiry" action="include/form.php" method="post"
                                    enctype="multipart/form-data">
                                    <div class="form-process"></div>
                                    <div class="col-12 form-group mb-4">
                                        <label>What is Your Name:</label>
                                        <input type="text" name="landing-enquiry-name" id="landing-enquiry-name"
                                            class="form-control border-form-control required" value="">
                                    </div>
                                    <div class="col-12 form-group mb-4">
                                        <label>Your Email Address Please:</label>
                                        <input type="email" name="landing-enquiry-email" id="landing-enquiry-email"
                                            class="form-control border-form-control required" value="">
                                    </div>
                                    <div class="col-12 form-group mb-4">
                                        <label>Tell more about your Project:</label>
                                        <textarea name="landing-enquiry-additional-requirements"
                                            id="landing-enquiry-additional-requirements"
                                            class="form-control border-form-control" cols="10" rows="3"></textarea>
                                    </div>
                                    <div class="col-12 d-none">
                                        <input type="text" id="landing-enquiry-botcheck" name="landing-enquiry-botcheck"
                                            value="" />
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" name="landing-enquiry-submit"
                                            class="button h-translatey-3 bg-dark rounded-pill"><i
                                                class="icon-line-arrow-right m-0"></i></button>
                                    </div>
        
                                    <input type="hidden" name="prefix" value="landing-enquiry-">
                                </form>
                            </div>
                        </div> -->
        
                    </div>
        
                </div>
            </div>
        
        </footer><!-- #footer end -->
        